$main-color : crimson;
$secondary-color: rgb(255, 61, 61);
$text-color: white;

div{
    background-color: $main-color;
    height: 70px;   
    padding: 10px;

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}