$main-color : crimson;
$secondary-color: rgb(255, 61, 61);
$text-color: white;


header{
    width: 100vw;
    background-color: red;
    display: flex;
    align-items: center;


    nav{
        display: flex;
        gap: 20px;

        margin-left: auto;
        margin-right: 4vw;

        font-size: clamp(1rem, 1.1vw, 2.5rem);
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        .pagelinks{
            background-color: black;
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 10px;
            
            transition: all 0.2s linear;
        
            &:hover{
                background-color: whitesmoke;
                color: black;
            }
        }
    }
}