.main-popup{
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.471);
    z-index: 999;

    .second-popup{
        box-shadow: 0 0 10px 1px black;
    }

    div{
        form{
           .type-input{
            border-radius: 5px;
            border: 2px solid crimson;
            padding: 4px;
            transition: box-shadow 0.3s ease-in-out;
            color:black;

            &:focus{
                outline-color: rgb(255, 106, 106);
                box-shadow: 0 0 10px 1px red;
            }
           } 
        }
    }
}